@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans&display=swap');
/* Theme color: f50057 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    font-family: Helvetica, serif;
    letter-spacing: 2px;
    font-weight: 400;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}
h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: gray;
}
h4 {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    text-transform: uppercase;
}

.info {
    width: 15px;
    display: inline-block;
    cursor: pointer;
}

span {
    opacity:0;
    display: inline-block;
}
span.space {
    width: 20px;
    white-space: pre;
}

.popFade {
    animation-duration: 0.7s;
    animation-name: popFade;
    animation-fill-mode: forwards;
}
.fadeInUp {
    opacity: 0;
    animation: popFade 2s 2s forwards;
}

@keyframes popFade {
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    20% {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


.container {
    margin: 5vw;
    display: block;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome h1, h3, h4 {
    margin: 10px;
    text-align: center;
}
.headers {
    margin: 20px;
}

.links {
    margin-top: 70px;
}
.links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
.links ul li {
    padding: 40px;
    margin: 20px;
    width: 50vw;
    max-width: 500px;
    border-radius: 20px;
    transition: box-shadow 1s;
    box-shadow: 1px 1px 10px #cfcfcf;
    display: flex;
    flex-direction: row;
}
.links ul li:hover {
    box-shadow: 1px 1px 10px #f50057; 
}
.links ul li:active {
    color: #f50057;
    transition: box-shadow 0.2s;
    box-shadow: 1px 1px 1px 2px #f50057;
}
.links ul a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}
.link-text {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.link-text h2 {
    display: inline-block;
    font-size: 1.25em;
}
.link-text p {
    color: gray;
    font-size: 0.6em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 0;
}
.stagger a:nth-child(even) {
    margin-left: 20vw;
}
.stagger a:nth-child(odd) {
    margin-right: 20vw;
}

.img {
    max-width: 100%;
    height: 40vh;
}
.thumbnail {
    max-width: 50%;
    width: 10vw;
    height: 100px;
}

.modal {
    height: 200px;
    width: 400px;
    z-index: 1;
    position: absolute;
    top: 50%;
}

@media only screen and (max-width: 600px) {
    .link-text {
        margin: 0;
    }
    .thumbnail {
        display: none;
    }
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000038;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    width: 200px;
    margin: 10px 20px;
    display:inline-block;
    padding: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: white;
    font-weight: 700;
    background-color: #f50056;
}
.modal-content h3 {
    margin: 10px;
}
.close-button:hover {
    background-color: #e2004f;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}